.text-center {
    text-align: center;
}

.hide {
    display: none;
}

.titre {
    font-size:3.5rem;
}

.description {
    font-size:1.25rem;
    font-weight:300
}

@font-face {
    font-family: Academy Engraved LET;
    src: url(FONT/Academy_Engraved_LET_Fonts.ttf);
}

.table_SVG {
    width: 50%;
    text-align: center;
}

svg {
    width: 200px;
    height: 250px;
    overflow: visible;
    box-shadow: 0 -0 10000px transparent; /*trick for chrome*/
}

svg text {
    font-family: Academy Engraved LET;
    font-size: 40px;
    text-anchor: middle;
}

object {
    width: 200px;
}

.bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #F3F3F3;
    padding: 5px;
    table-layout: fixed;
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    align-items: center;
    justify-content: center;
}

.content {
    position: relative;
    background: white;
    padding: 1em 2em;
    border-radius: 4px;
}

.modal:target {
    display: flex;
}

.close {
    position: absolute;
    top: 0;
    right: 10px;
    color: #fe0606;
    font-size: 30px;
    text-decoration: none;
}